---
layout: default
---

{% if page.image_file_name and page.image_file_name != '' %}
<figure class="mpx-figure">
  <div class="mpx-image-wrap">
    <img class="mpx-img" src="{{site.siteurl}}/{{site.prose.media}}/{{page.image_file_name}}" alt="{{page.image_caption}}">
  </div>
  <figcaption class="mpx-figcaption">
    {{page.image_caption}}
  </figcaption>
</figure>
{% endif %}
<div class="mpx-layer-content">
  {% if page.fact_lead and page.fact_lead != '' %}
<p class="mpx-layer-lead">
  {{page.fact_lead}}
</p>
  {% endif %}
  {{content}}
</div>
